*{
  margin: 0;
  padding: 0;
}

:root{
  --bgColor: #0D0D0D;  
  --bodyHeaderColor: #595959 ;
  --titleBgColor: #A6A6A6 ;
  --titleColor: var(--bgColor, #313133);
  --textColor: #FAFAFA;  
}

body{
  background-color: var(--bgColor, #484849);
}

.container-flud{
  padding: 0 15px;
}

/*Card MR SK SIR*/
.card-header{
  background-color: var(--bodyHeaderColor);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.card-body{  
  margin-top: 5px;
  color: var(--textColor);  
}

.card-title{  
  color: var(--titleColor);
  background-color: var(--titleBgColor);
  border-radius: 3px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.dark-grey-scale-2-hex { background-color: #262626;}

.dark-grey-scale-2-hex ul li{
  color: var(--textColor); 
}

.dark-grey-scale-2-hex ul li i{
  color: var(--textColor);
  margin-right: 5px;
}

.dark-grey-scale-2-hex .card-body a{  
  font-size: 22px;
  color: var(--textColor);
}

.dark-grey-scale-2-hex .card-body a:hover{
  color: var(--titleBgColor); 
}

.col-sm-6 .dark-grey-scale-2-hex{
  color: var(--textColor); 
}


